<%- include('./partials/header') %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">something</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
<div class="container p-5 mt-5 bg-light">
  <form enctype="multipart/form-data" method="POST" action="/">
    <div class="mt-2">
      <input type="text" name="username" class="form-control" placeholder="username">
    </div>
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">choose a image</label>
      <input class="form-control" type="file" name="avatar" id="formFileMultiple" multiple>
    </div>
  
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
</div>
<hr class="my-5 container">

<div class="container p-5 bg-light d-flex flex-wrap">

  <% avatar.forEach((a)=>{ %>
    <div class="card mx-2 my-2" style="width: 20rem;">
      <img src="/images/<%= a.avatar %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= a.username %></h5>
        <a href="#" class="btn btn-primary">Delete</a>
        <a href="#" class="btn btn-primary">Update</a>
      </div>
    </div>
  <%}) %>
   
  
</div>

<%- include('./partials/footer') %>
